/* Using the @ Character
In CSS, the @ character is used for at-rules, which are special instructions or rules that provide metadata or conditional logic. Some common at-rules include:

@charset: Specifies the character encoding.
@import: Imports another CSS file.
@media: Applies styles based on media queries.
@font-face: Defines custom fonts.
Each at-rule has its own syntax and usage, but they all start with the @ character. */

@charset "utf-8";

/* sidebar Button */
#sidebar-btn {
    position: fixed;
    z-index: 99997;
}

#sidebar-btn ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#sidebar-btn ul>li>a,
#sidebar-btn .sidebar-btn {
    position: relative;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 200px;
    height: 100px;
    line-height: 100px !important;
    font-size: 19px;
}

#sidebar-btn .sidebar-btn-label {
    position: absolute;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    line-height: 18px !important;
    font-size: 11px;
    text-align: center;
    padding-right: 1px;
    letter-spacing: -1px;
}

@media (min-width: 768px) {
    #sidebar-btn {
        top: 25%;
        left: 25px;
    }

    #sidebar-btn .sidebar-btn-box {
        width: 100px;
        height: 100px;
        line-height: 48px !important;
        border-radius: 50%;
        margin-bottom: 7px;
    }

    #sidebar-btn .sidebar-btn-label {
        top: -4px;
        right: -4px;
        width: 1000px;
    }
}

@media (max-width: 767px) {
    #sidebar-btn {
        left: 0px;
        bottom: 0px;
        z-index: 99999;
    }

    #sidebar-btn ul>li {
        display: table-cell;
        width: 1%;
    }

    #sidebar-btn .sidebar-btn {
        margin-top: 4px;
    }

    body {
        padding-bottom: 39px;
    }

    .at-go {
        display: none;
    }
}

html {
    font-size: 10px;
}

ul,
li {
    list-style: none;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
  
}

.board_wrap {
    width: 1000px;
    margin: 100px auto;
}

.board_list {
    width: 100%;
    border-top: 2px solid #000;
}

.board_list>div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list>div.top {
    border-bottom: 1px solid #999;
}

.board_list>div:last-child {
    border-bottom: 1px solid #000;
}

.board_list>div>div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}

.board_list>div.top>div {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .type {
    width: 30%;
    
}

.board_list .writer {
    width: 20%;
}

.board_list .date {
    width: 20%;
}

.board_list .check {
    width: 20%;
}

.board_title {
    margin-bottom: 30px;
}

.board_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.board_title strong {
    font-size: 3rem;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
    /*박스 사이 여백 사라짐*/
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child {
    margin-left: 0px;
}

.bt_wrap a.on {
    background-color: #000;
    color: #fff;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box; /* 패딩이 height 32px 값을 넘지 말아라*/
    vertical-align: middle;
    line-height: 100%;
    border: 1px solid #ddd;
    border-left: 0; /*<--! 회색선이 겹쳐보이기 때문-->*/
    line-height: 100%;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}

.board_page .bt {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page .num {
    padding-top: 9px;
    font-size: 1.4rem;
}

.board_page .num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

.widget {
    width: 42px;
    height: 42px;
}

#sidebar-btn {
    display: inline-flex;
}